<h3>1.4 V obležení</h3>
<p>Dva nebo tři chlapi v hostinci se určitě vydají ven s tím, že “musí někomu pomoct” nebo “někoho ochránit” atp.</p>
<p>Když pomohou zabarikádovat a bránit hostinec, odehrajte jeden nebo dva pokusy o jeho zteč (viz níže), který budou hráči moci odrazit a mezitím je “deptejte” popisy zvuků boje z venku, sem tam možná pohledem z okna na nějakého umírajícího vesničana, něčím bušením na dveře a žadoněním o vpuštění atp. Pár příkladů možných pokusů goblinů o zteč:</p>
<ol>
  <li>Goblin se potichu vplíží komínem. Zatímco všichni barikádují okna a dveře, tak namotá provázek kolem pár lamp a pochodní tak, aby je mohl jedním trhnutím všechny převrátit (reálně jich zvrhne tak třetinu až polovinu, ale i to může mininálně vyvolat chaos) Následně si připraví založení požáru (pár hadrů a olej), střelí někoho do zad, hodí hořící poleno do hadrů, trhne provázkem a vrhne se na útěk nejbližším oknem/dveřmi v naději, že vše za ním vzplane. Pokud zjistí, že žádná úniková cesta není, tak začne hrát s postavami na honěnou (zvrhávat stoly, podlézat lavice, šplhat na trámy atp.) a odvádět tak pozornost, zatímco se jiný pár goblinů pokusí vplížit náhle nechráněnými dveřmi/okny dovnitř a začít bodat pobíhající obránce do zad. Teda - takhle to goblin zamýšlí. Že si ho někdo možná všimne už v průběhu jeho “příprav” (nech hráče hodit na pozornost nebo si hoď za goblina na nenápadnost) popř. že ta příprava možná nepřinese očekávané výsledky (na úspěch všech snah si házej až v momentě, kdy se je goblin pokusí “spustit” - je to tak zábavnější) je už věc druhá.</li>
  <li>Goblin vyvleče mladou dívku za vlasy a nožem na ledvinách jí přiměje bušit na dveře a prosit o vpuštění a záchranu. Dva jiní goblini už číhají ve správném úhlu s luky v rukou - jakmile se dveře pootevřou, ihned zkusí zastřelit ty, kdo u nich stojí, aby pak mohli ve velkém (čtyři nebo pět goblinů naráz) vpadnout dovnitř. Nicméně první, co udělají, je, že dívku bodnou (do břicha / stehení tepny atp.) a krvácející ji hodí do náručí nejsilnějšímu obránci, kterého uvidí. Dej si záležet, aby hráč onoho barbara / bojovníka nebo jiného silného hrdiny pochopil, že dívku možná ještě může zachránit, pokud ji začne ihned ošetřovat (zejména bránit jejímu rychlému vykrvácení) - ale rozhodně ne, pokud místo toho ztratí desítky vteřin bojem s gobliny.</li>
  <li>Goblini do hostince nahází kameny omotané v oleji napuštěnými hořícími hadry. Ve velkém. Pokud se hráčům nepodaří rychle zatarasit okna, tak sice možná nic přímo nevzplane, ale dýmu z toho bude hodně (nech klidně nech postavy hodit na ODL s tím, že neúspěch způsobí kašlání, snížení rychlosti na polovinu a nevýhodu na vnímání). Sérii kamenů goblini občas proloží nějakou tou cílenou střelou z luku věnovanou komukoliv, kdo zrovna bude stát víc kol po sobě na stejném místě (útok s výhodou).</li>
  <li>Goblini zkusí prorazit dveře kárkou naravanou hořícími věcmi. Pokud neuspějí, tak ji nechají rozbitou hořet přede dveřmi v naději, že od ní něco stejně chytne (a po čase skutečně chytne - hned, co se plameny doplazí přes vyčnívající trámy až k doškové střeše…) Pokud uspějí, tak se také rozutečou - s křikem, který dá druhé skupině vědět, že je ta správná chvíle vpadnout do hostince zadními dveřmi.</li>
</ol>
<p>Co dál?</p>

<%= simple_form_for @adventure do |f| %>
  <%= f.hidden_field :current_chapter, value: 1.5 %>
  <%= f.submit 'Vyrazí ven' %>
<% end %>
<%= simple_form_for @adventure do |f| %>
  <%= f.hidden_field :current_chapter, value: 1.7 %>
  <%= f.submit 'Přečkají do konce nájezdu' %>
<% end %>
