<div class='nested-fields'>
  <%= f.input :path, label: 'Povolání' %>
  <%= f.input :race, label: 'Rasa' %>
  <%= f.input :name, label: 'Jméno postavy' %>
  <%= f.input :player_name, label: 'Jméno či přezdívka hráče' %>
  <%= link_to_remove_association "remove player_character", f %>
</div>
