<ul>
  <% @adventure.pcs.each do |pc| %>
    <li><%= "#{pc.name}: #{pc.race} #{pc.path} (#{pc.player_name})" %></li>
  <% end %>
</ul>

<ul>
  <% @adventure.npcs.each do |npc| %>
    <li><%= "#{npc.name}: #{hp_left}/#{max_hp}" %></li>
  <% end %>
</ul>

<% case @adventure.current_chapter %>
<% when 1.1 %>
  <%= render 'adventures/chapters/na_ceste' %>
<% when 1.2 %>
  <%= render 'adventures/chapters/v_hostinci' %>
<% when 1.3 %>
  <%= render 'adventures/chapters/utok_na_hostinec' %>
<% end %>
