<div class="grid-x">
  <div class="cell small-9">
    <% case @adventure.current_chapter %>
    <% when 1.1 %>
      <%= render 'adventures/chapters/na_ceste' %>
    <% when 1.2 %>
      <%= render 'adventures/chapters/v_hostinci' %>
    <% when 1.3 %>
      <%= render 'adventures/chapters/utok_na_hostinec' %>
    <% when 1.4 %>
      <%= render 'adventures/chapters/v_oblezeni' %>
    <% when 1.5 %>
      <%= render 'adventures/chapters/bojuvky' %>
    <% end %>
  </div>
  <div class="cell small-3">
    <h5>Postavy</h5>
    <ul>
      <% @adventure.pcs.each do |pc| %>
        <li><%= "#{pc.name}: #{pc.race} #{pc.path} (#{pc.player_name})" %></li>
      <% end %>
    </ul>
    <h5>NPC</h5>
    <ul>
      <% @adventure.npcs.each do |npc| %>
        <!-- <li><%= "#{npc.name}: #{npc.hp_left}/#{npc.max_hp} HP" %></li> -->
        <li>
          <%= simple_form_for ([@adventure, npc]) do |f| %>
            <%= f.input :hp_left %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


