<p id="notice"><%= notice %></p>

<p>
  <strong>Current chapter:</strong>
  <%= @adventure.current_chapter %>
</p>

<p>
  <strong>Load code:</strong>
  <%= @adventure.load_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @adventure.email %>
</p>

<p>
  <strong>Test:</strong>
  <%= @adventure.test %>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
