<%= form_with(model: player_character, local: true) do |form| %>
  <% if player_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player_character.errors.count, "error") %> prohibited this player_character from being saved:</h2>

      <ul>
        <% player_character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :class %>
    <%= form.text_field :class %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label :player_name %>
    <%= form.text_field :player_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
