<p id="notice"><%= notice %></p>

<h1>Non Player Characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hp left</th>
      <th>Adventure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @non_player_characters.each do |non_player_character| %>
      <tr>
        <td><%= non_player_character.name %></td>
        <td><%= non_player_character.hp_left %></td>
        <td><%= non_player_character.adventure_id %></td>
        <td><%= link_to 'Show', non_player_character %></td>
        <td><%= link_to 'Edit', edit_non_player_character_path(non_player_character) %></td>
        <td><%= link_to 'Destroy', non_player_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Non Player Character', new_non_player_character_path %>
